// network generator model (mono_random, multi_random, multi_real)
net_model multi_random

// load graphs (0,1,2,...)
load_graphs 2

// number of protocols in the generated topology (1,2,3,... )
nb_protocols 2

// number of nodes in the generated graph(s) without load_graphs  
nb_nodes_g_0 0    
nb_nodes_g_1 0

// number of nodes according to number of communicated protocols with multi_random mode
nb_nodes_p_1 50
nb_nodes_p_2 50

// the seed number used in all random generations 
seed_nb 17350 

// graph generator model (barabasi_albert, erdos_renyi, watts_strogatz)
graph_model barabasi_albert

// parameters for the barabasi_albert generator 
m_attachement 3
p_attachement 2

// parameters for the erdos_renyi generator 
p_connection 0.10

// parameters for the watts_strogatz generator 
k_mean_degree 2
p_beta 0.01

// parameters for adaptation functions costs 
retransmission_cost 1
conversion_cost 1
encapsulation_cost 1
decapsulation_cost 1

// probability of availability of adaptation function per node 
p_retransmission 0.15
p_conversion 0.15
p_encapsulation 0.15
p_decapsulation 0.15